@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.card{
    @apply bg-white rounded-md overflow-hidden shadow-2xl relative;
}

.badge{
    @apply bg-gray-200 text-xs uppercase font-bold rounded-full w-auto p-1 absolute top-0 ml-2 mt-2;
}

.btn{
    @apply rounded-full py-2 px-2 uppercase text-xs font-bold cursor-pointer tracking-wider ;
}
